{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }, 
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "compat/compat": "off",
    "class-methods-use-this": "off",    
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "global-require": "off",
    "max-len": 0,        
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-named-as-default-member": "off",    
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/no-did-mount-set-state": "off",        
    "react/no-unused-prop-types": "off",
    "react/no-string-refs": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",    
    "react/sort-comp": "off",    
    "react/no-array-index-key": "off",    
    "no-plusplus": "off",
    "no-alert": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-prototype-builtins": "off",
    "no-bitwise": "off",        
    "no-console": "off",    
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",    
    "object-curly-newline": "off",    
    "no-use-before-define": "off",
    "no-cond-assign": "off",
    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off"
  }
}